<div class="app-form-page">

    <!-- =====================================================
         PAGE HEADER
    ====================================================== -->

    <app-page-header

        icon="fas fa-arrows-rotate"

        [title]="pageTitle"

        subtitle="Manage menu synchronization.">

        <app-command-center

            pageHeaderRight

            [command1Text]="
                isSynchronizationMode
                    ? (canSynchronize ? 'Sync' : 'Rollback')
                    : saveButtonText
            "

            [command1Icon]="
                isSynchronizationMode
                    ? (canSynchronize
                        ? 'fas fa-arrows-rotate'
                        : 'fas fa-rotate-left')
                    : 'fas fa-floppy-disk'
            "

            (command1Click)="
                isSynchronizationMode
                    ? (canSynchronize
                        ? onSynchronize()
                        : onRollback())
                    : onSave()
            "

            [command1Visible]="!isViewMode"

            command2Text="Clear"

            command2Icon="fas fa-broom"

            (command2Click)="onClear()"

            [command2Visible]="
                !isViewMode
                &&
                !isSynchronizationMode
            "

            [command3Visible]="false"

            rightCommandIcon="fas fa-arrow-left"

            (rightCommandClick)="onBackToList()">

        </app-command-center>

    </app-page-header>


    <!-- =====================================================
         PAGE TOOLBAR
    ====================================================== -->

    <app-page-toolbar

        leftFlex="0 0 auto"

        rightFlex="1 1 auto">


        <!-- =================================================
             LEFT
        ================================================== -->

        <div

            pageToolbarLeft

            class="module-toolbar-left">

            <app-control-tabs

                [tabs]="tabs"

                [selectedTab]="selectedTab">

            </app-control-tabs>

        </div>


        <!-- =================================================
             RIGHT
        ================================================== -->

        <div

            pageToolbarRight

            class="module-toolbar-right">


            <!-- =================================================
                 MODULE
            ================================================== -->

            <app-search-dropdown

                placeholder="Select Module"

                [items]="modules"

                labelField="name"

                valueField="id"

                [readonly]="isNavigationReadonly"

                [(value)]="selectedModuleId"

                (valueChange)="onModuleChange($event)">

            </app-search-dropdown>


            <!-- =================================================
                 MENU
            ================================================== -->

            <app-search-dropdown

                placeholder="Select Menu"

                [items]="menus"

                labelField="name"

                valueField="id"

                [readonly]="
                    isNavigationReadonly
                    ||
                    !selectedModuleId
                "

                [(value)]="synchronization.menuId"

                (valueChange)="onMenuChange($event)">

            </app-search-dropdown>


            <!-- =================================================
                 ANALYZE
            ================================================== -->

            <button

                type="button"

                class="module-analyze-button"

                [disabled]="!canAnalyze"

                (click)="analyze()">

                <i class="fas fa-magnifying-glass"></i>

                <span>Analyze</span>

            </button>


            <!-- =================================================
                 RESET
            ================================================== -->

            <button

                type="button"

                class="module-reset-button"

                (click)="onResetWorkspace()">

                <i class="fas fa-arrows-rotate"></i>

                <span>Reset</span>

            </button>

        </div>

    </app-page-toolbar>


    <!-- =====================================================
         SYNCHRONIZATION WORKSPACE
    ====================================================== -->

    <div class="synchronization-workspace">


        <!-- =================================================
             FRONTEND SYNCHRONIZATION WORKSPACE
        ================================================== -->

        @if (showFrontendWorkspace)
        {
            <app-menu-sync-workspace-frontend

                (targetLocationEditClick)="
                    toggleFrontendEditingSection('target')
                "

                (standardStructureEditClick)="
                    toggleFrontendEditingSection('structure')
                "

                (applicationRegistrationEditClick)="
                    toggleFrontendEditingSection('registration')
                "


                [targetLocationReadonly]="
                    isTargetLocationReadonly
                "


                [frontendSolution]="
                    synchronization.frontendSolution
                "

                (frontendSolutionChange)="
                    synchronization.frontendSolution = $event
                "


                [project]="
                    synchronization.frontendProject
                "

                (projectChange)="
                    synchronization.frontendProject = $event
                "


                [sourceFolder]="
                    synchronization.frontendSourceFolder
                "

                (sourceFolderChange)="
                    synchronization.frontendSourceFolder = $event
                "


                [featureFolder]="
                    synchronization.frontendFeatureFolder
                "

                (featureFolderChange)="
                    synchronization.frontendFeatureFolder = $event
                "


                [standardStructureReadonly]="
                    isStandardStructureReadonly
                "


                [menuFolder]="
                    synchronization.frontendMenuFolder
                "

                (menuFolderChange)="
                    synchronization.frontendMenuFolder = $event
                "


                [modelsFolder]="
                    synchronization.frontendModelsFolder
                "

                (modelsFolderChange)="
                    synchronization.frontendModelsFolder = $event
                "


                [servicesFolder]="
                    synchronization.frontendServicesFolder
                "

                (servicesFolderChange)="
                    synchronization.frontendServicesFolder = $event
                "


                [pagesFolder]="
                    synchronization.frontendPagesFolder
                "

                (pagesFolderChange)="
                    synchronization.frontendPagesFolder = $event
                "


                [routesFolder]="
                    synchronization.frontendRoutesFolder
                "

                (routesFolderChange)="
                    synchronization.frontendRoutesFolder = $event
                "


                [applicationRegistrationReadonly]="
                    isApplicationRegistrationReadonly
                "


                [menuRouteFile]="
                    synchronization.frontendMenuRouteFile
                "

                (menuRouteFileChange)="
                    synchronization.frontendMenuRouteFile = $event
                "


                [moduleRouteFile]="
                    synchronization.frontendModuleRouteFile
                "

                (moduleRouteFileChange)="
                    synchronization.frontendModuleRouteFile = $event
                ">

            </app-menu-sync-workspace-frontend>
        }


        <!-- =================================================
             BACKEND SYNCHRONIZATION WORKSPACE
        ================================================== -->

        @if (showBackendWorkspace)
        {
            <app-menu-sync-workspace-backend

                (targetLocationEditClick)="
                    toggleBackendEditingSection('target')
                "

                (standardStructureEditClick)="
                    toggleBackendEditingSection('structure')
                "

                [targetLocationReadonly]="
                    isTargetLocationReadonly
                "


                [backendSolution]="
                    synchronization.backendSolution
                "

                (backendSolutionChange)="
                    synchronization.backendSolution = $event
                "


                [backendApplicationProject]="
                    synchronization.backendApplicationProject
                "

                (backendApplicationProjectChange)="
                    synchronization.backendApplicationProject = $event
                "


                [backendDomainProject]="
                    synchronization.backendDomainProject
                "

                (backendDomainProjectChange)="
                    synchronization.backendDomainProject = $event
                "


                [backendInfrastructureProject]="
                    synchronization.backendInfrastructureProject
                "

                (backendInfrastructureProjectChange)="
                    synchronization.backendInfrastructureProject = $event
                "


                [standardStructureReadonly]="
                    isStandardStructureReadonly
                "


                [backendControllerFolder]="
                    synchronization.backendControllerFolder
                "

                (backendControllerFolderChange)="
                    synchronization.backendControllerFolder = $event
                "


                [backendApplicationFolder]="
                    synchronization.backendApplicationFolder
                "

                (backendApplicationFolderChange)="
                    synchronization.backendApplicationFolder = $event
                "


                [backendDomainFolder]="
                    synchronization.backendDomainFolder
                "

                (backendDomainFolderChange)="
                    synchronization.backendDomainFolder = $event
                "


                [backendRepositoryFolder]="
                    synchronization.backendRepositoryFolder
                "

                (backendRepositoryFolderChange)="
                    synchronization.backendRepositoryFolder = $event
                "


                [backendConfigurationFolder]="
                    synchronization.backendConfigurationFolder
                "

                (backendConfigurationFolderChange)="
                    synchronization.backendConfigurationFolder = $event
                ">

            </app-menu-sync-workspace-backend>
        }

    </div>

</div>


<!-- =========================================================
     TOAST
========================================================= -->

<app-toast>

</app-toast>


<!-- =========================================================
     NORMAL CONFIRM DIALOG
========================================================= -->

<app-confirm-dialog>

</app-confirm-dialog>


<!-- =========================================================
     PROGRESS DIALOG
========================================================= -->

<app-progress-dialog>

</app-progress-dialog>