<!-- ===========================================================
     LOGIN PAGE 5 ROOT
============================================================ -->

<div
    class="login-page-5"
>


    <!-- =======================================================
         ACTUAL BACKGROUND IMAGE 5

         Light:

             lightBackgroundImageUrl

         Deep:

             deepBackgroundImageUrl

         Current:

             currentBackgroundImageUrl

         SOURCE:

             Sub Ordinate Component ID = 5
    ======================================================== -->

    <div
        class="login-page-5-background"

        [style.background-image]="
            currentBackgroundImageUrl
                ? 'url(' + currentBackgroundImageUrl + ')'
                : ''
        "
    >
    </div>


    <!-- =======================================================
         NOTIFICATION
         -------------------------------------------------------
         Page-level floating notification component.
    ======================================================== -->

    <app-login-page-notification-panel
        #notificationPanel
    >
    </app-login-page-notification-panel>


    <!-- =======================================================
         MAIN LAYOUT
         -------------------------------------------------------
         PIXEL-BY-PIXEL CLONE OF LOGIN PAGE 4
    ======================================================== -->

    <main
        class="login-page-5-layout"
    >


        <!-- ===================================================
             LEFT
             ---------------------------------------------------
             Same structure as Login Page 4.
        ==================================================== -->

        <section
            class="login-page-5-left-area"
        >


            <!-- ===============================================
                 LEFT TOP
                 -----------------------------------------------
                 BRANDING
            ================================================= -->

            <section
                class="login-page-5-left-top"
            >

            </section>


            <!-- ===============================================
                 LEFT CENTER
                 -----------------------------------------------
                 EMPTY
            ================================================= -->

            <section
                class="login-page-5-left-center"
            >
            </section>


            <!-- ===============================================
                 LEFT BOTTOM
                 -----------------------------------------------
                 POWERED BY
            ================================================= -->

            <section
                class="login-page-5-left-bottom"
            >

                <app-login-page-powered-by>
                </app-login-page-powered-by>

            </section>


        </section>


        <!-- ===================================================
             MIDDLE
             ---------------------------------------------------
             EMPTY
             Same structure as Login Page 4.
        ==================================================== -->

        <section
            class="login-page-5-middle-area"
        >


            <!-- ===============================================
                 MIDDLE TOP
            ================================================= -->

            <section
                class="login-page-5-middle-top"
            >
            </section>


            <!-- ===============================================
                 MIDDLE CENTER
            ================================================= -->

            <section
                class="login-page-5-middle-center"
            >
            </section>


            <!-- ===============================================
                 MIDDLE BOTTOM
            ================================================= -->

            <section
                class="login-page-5-middle-bottom"
            >
            </section>


        </section>


        <!-- ===================================================
             RIGHT
             ---------------------------------------------------
             Same structure as Login Page 4.
        ==================================================== -->

        <section
            class="login-page-5-right-area"
        >


            <!-- ===============================================
                 THEME SELECTOR
            ================================================= -->

            <section
                class="login-page-5-right-top"
            >

                <app-login-page-theme-selector
                    [isLightTheme]="isLightTheme"

                    (themeChange)="
                        onThemeChange($event)
                    "
                >
                </app-login-page-theme-selector>

            </section>


            <!-- ===============================================
                 AUTHENTICATION
                 ------------------------------------------------
                 LOGIN / REGISTRATION / FORGET PASSWORD
            ================================================= -->

            <section
                class="login-page-5-right-center"
            >


                <!-- ===========================================
                     LOGIN PANEL
                ============================================ -->

                <app-login-page-login-panel
                    *ngIf="
                        !isRegistrationMode
                        &&
                        !isForgetPasswordMode
                    "

                    (register)="
                        onRegister()
                    "

                    (forgotPassword)="
                        onForgotPassword()
                    "
                >
                </app-login-page-login-panel>


                <!-- ===========================================
                     REGISTRATION PANEL
                ============================================ -->

                <app-login-page-registration-panel
                    *ngIf="
                        isRegistrationMode
                    "

                    (backToLogin)="
                        onBackToLogin()
                    "
                >
                </app-login-page-registration-panel>


                <!-- ===========================================
                     FORGET PASSWORD PANEL
                ============================================ -->

                <app-login-page-forget-password-panel
                    *ngIf="
                        isForgetPasswordMode
                    "

                    (passwordResetSuccess)="
                        onPasswordResetSuccess()
                    "

                    (backToLogin)="
                        onBackToLogin()
                    "
                >
                </app-login-page-forget-password-panel>


            </section>


            <!-- ===============================================
                 RIGHT BOTTOM
                 -----------------------------------------------
                 EMPTY
            ================================================= -->

            <section
                class="login-page-5-right-bottom"
            >
            </section>


        </section>


    </main>


</div>