/* ============================================================
   COMPONENT RENDERER
============================================================ */

:host
{
    display:block;

    width:100%;
    height:100%;

    min-width:0;
    min-height:0;

    max-width:none;
    max-height:none;

    margin:0;

    padding:0;

    box-sizing:border-box;

    overflow:visible;
}


.component-renderer
{
    width:100%;

    height:100%;

    min-width:0;
    min-height:0;

    max-width:none;
    max-height:none;

    display:block;

    margin:0;

    padding:0;

    box-sizing:border-box;

    overflow:visible;
}


.component-renderer
ng-container
{
    width:100%;

    height:100%;

    min-width:0;
    min-height:0;

    max-width:none;

    box-sizing:border-box;
}