<!--===============================================================
    Login Page Loader
===============================================================-->

<div
    class="login-page-loader"
>

    <!--===========================================================
        Loading
    ============================================================-->

    <div
        class="login-page-loader-state"
        *ngIf="isLoading"
    >
        Loading Login Page...
    </div>



    <!--===========================================================
        Error
    ============================================================-->

    <div
        class="login-page-loader-state login-page-loader-error"
        *ngIf="
            !isLoading
            &&
            loadError
        "
    >
        {{ loadError }}
    </div>



    <!--===========================================================
        Login Page 1
    ============================================================-->

    <app-login-page-1
        *ngIf="
            !isLoading
            &&
            !loadError
            &&
            activePageKey === 'login-page-1'
        "
    >
    </app-login-page-1>



    <!--===========================================================
        Login Page 2
    ============================================================-->

    <app-login-page-2
        *ngIf="
            !isLoading
            &&
            !loadError
            &&
            activePageKey === 'login-page-2'
        "
    >
    </app-login-page-2>



    <!--===========================================================
        Login Page 3
    ============================================================-->

    <app-login-page-3
        *ngIf="
            !isLoading
            &&
            !loadError
            &&
            activePageKey === 'login-page-3'
        "
    >
    </app-login-page-3>



    <!--===========================================================
        Login Page 4
    ============================================================-->

    <app-login-page-4
        *ngIf="
            !isLoading
            &&
            !loadError
            &&
            activePageKey === 'login-page-4'
        "
    >
    </app-login-page-4>

</div>