<!-- ===========================================================
     Login Page Branding
============================================================ -->

<div
    class="login-page-branding"
    *ngIf="config.visible"
>

    <!-- =======================================================
         Branding Content
    ======================================================== -->

    <div class="branding-content">

        <!-- ===================================================
             Brand Logo
        ==================================================== -->

        <img
            class="branding-logo"
            [src]="config.logoUrl"
            [style]="logoStyle"
            alt="AppCore Technologies"
        />


        <!-- ===================================================
             Brand Email
        ==================================================== -->

        <div class="branding-email">
            appcoretechnologies.com
        </div>

    </div>

</div>