<div class="layout">


    <!-- =====================================================
         TOPBAR
    ====================================================== -->

    <app-topbar>
    </app-topbar>



    <!-- =====================================================
         LAYOUT BODY
    ====================================================== -->

    <div class="layout-body">


        <!-- =================================================
             SIDEBAR
        ================================================== -->

        <app-sidebar
            [class.sidebar-collapsed]="isSidebarCollapsed">
        </app-sidebar>



        <!-- =================================================
             CONTENT
        ================================================== -->

        <main class="content">


            <!-- =============================================
                 BREADCRUMB
            ============================================== -->

            <app-breadcrumb
                *ngIf="!isDashboard">
            </app-breadcrumb>



            <!-- =============================================
                 ROUTED PAGE
            ============================================== -->

            <router-outlet>
            </router-outlet>


        </main>


    </div>



    <!-- =====================================================
         FOOTER
    ====================================================== -->

    <app-footer>
    </app-footer>



    <!-- =====================================================
         GLOBAL TOAST
    ====================================================== -->

    <app-toast>
    </app-toast>


</div>