<!-- ===========================================================
     LOGIN PAGE 2 ROOT
============================================================ -->

<div
    class="login-page-2"
>


    <!-- =======================================================
         ACTUAL BACKGROUND IMAGE 2

         Light:

             lightBackgroundImageUrl

         Deep:

             deepBackgroundImageUrl

         Current:

             currentBackgroundImageUrl
    ======================================================== -->

    <div
        class="login-page-2-background"

        [style.background-image]="
            currentBackgroundImageUrl
                ? 'url(' + currentBackgroundImageUrl + ')'
                : ''
        "
    >
    </div>


    <!-- =======================================================
         NOTIFICATION
    ======================================================== -->

    <app-login-page-notification-panel
        #notificationPanel
    >
    </app-login-page-notification-panel>


    <!-- =======================================================
         MAIN LAYOUT
    ======================================================== -->

    <main
        class="login-page-2-layout"
    >

        <!-- LEFT -->

        <section
            class="login-page-2-left-area"
        >

            <section
                class="login-page-2-left-top"
            >

                <app-login-page-branding>
                </app-login-page-branding>

            </section>


            <section
                class="login-page-2-left-center"
            >
            </section>


            <section
                class="login-page-2-left-bottom"
            >

                <app-login-page-powered-by>
                </app-login-page-powered-by>

            </section>

        </section>


        <!-- MIDDLE -->

        <section
            class="login-page-2-middle-area"
        >

            <section
                class="login-page-2-middle-top"
            >
            </section>


            <section
                class="login-page-2-middle-center"
            >
            </section>


            <section
                class="login-page-2-middle-bottom"
            >
            </section>

        </section>


        <!-- RIGHT -->

        <section
            class="login-page-2-right-area"
        >

            <!-- THEME SELECTOR -->

            <section
                class="login-page-2-right-top"
            >

                <app-login-page-theme-selector
                    [isLightTheme]="isLightTheme"

                    (themeChange)="
                        onThemeChange($event)
                    "
                >
                </app-login-page-theme-selector>

            </section>


            <!-- AUTHENTICATION -->

            <section
                class="login-page-2-right-center"
            >

                <app-login-page-login-panel
                    *ngIf="
                        !isRegistrationMode
                        &&
                        !isForgetPasswordMode
                    "

                    (register)="
                        onRegister()
                    "

                    (forgotPassword)="
                        onForgotPassword()
                    "
                >
                </app-login-page-login-panel>


                <app-login-page-registration-panel
                    *ngIf="
                        isRegistrationMode
                    "

                    (backToLogin)="
                        onBackToLogin()
                    "
                >
                </app-login-page-registration-panel>


                <app-login-page-forget-password-panel
                    *ngIf="
                        isForgetPasswordMode
                    "

                    (passwordResetSuccess)="
                        onPasswordResetSuccess()
                    "

                    (backToLogin)="
                        onBackToLogin()
                    "
                >
                </app-login-page-forget-password-panel>

            </section>


            <!-- BOTTOM -->

            <section
                class="login-page-2-right-bottom"
            >
            </section>

        </section>

    </main>

</div>