<!-- ============================================================
     BACKGROUND IMAGE
============================================================ -->

<div
    class="background-image"
>


    <!-- ========================================================
         Background Image - Light
    ========================================================= -->

    <div
        class="background-image-container background-image-light"
    >


        <!-- ====================================================
             HEADER
        ===================================================== -->

        <div
            class="background-image-header"
        >

            <div
                class="background-image-heading"
            >

                <div
                    class="background-image-icon"
                >

                    <i
                        class="fas fa-sun"
                    ></i>

                </div>


                <div
                    class="background-image-heading-content"
                >

                    <div
                        class="background-image-label"
                    >
                        Background Image
                    </div>


                    <div
                        class="background-image-title"
                    >
                        Light Theme
                    </div>


                    <div
                        class="background-image-description"
                    >
                        Background image configured for the light theme.
                    </div>

                </div>

            </div>

        </div>


        <!-- ====================================================
             IMAGE PREVIEW
        ===================================================== -->

        <div
            class="background-image-preview"
        >


            <!-- =================================================
                 EMPTY STATE
            ================================================== -->

            <div
                class="background-image-empty"
                *ngIf="!lightBackgroundImageUrl"
            >

                <div
                    class="background-image-empty-icon"
                >

                    <i
                        class="fas fa-image"
                    ></i>

                </div>


                <div
                    class="background-image-empty-title"
                >
                    No Light Background Image
                </div>


                <div
                    class="background-image-empty-description"
                >
                    No background image has been configured for the light theme.
                </div>

            </div>


            <!-- =================================================
                 IMAGE
            ================================================== -->

            <img
                *ngIf="lightBackgroundImageUrl"

                [src]="lightBackgroundImageUrl"

                alt="Background Image - Light"

                class="background-image-preview-image"
            />


        </div>


        <!-- ====================================================
             INFORMATION
        ===================================================== -->

        <div
            class="background-image-information"
        >


            <!-- =================================================
                 RECOMMENDED SIZE
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-expand"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        Recommended Size
                    </span>

                    <strong>
                        2560 × 1440 px
                    </strong>

                </div>

            </div>


            <div
                class="background-image-information-divider"
            ></div>


            <!-- =================================================
                 ASPECT RATIO
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-crop"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        Aspect Ratio
                    </span>

                    <strong>
                        16:9
                    </strong>

                </div>

            </div>


            <div
                class="background-image-information-divider"
            ></div>


            <!-- =================================================
                 FILE FORMAT
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-file-image"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        File Format
                    </span>

                    <strong>
                        JPG, PNG
                    </strong>

                </div>

            </div>


            <div
                class="background-image-information-divider"
            ></div>


            <!-- =================================================
                 MAX FILE SIZE
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-database"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        Max File Size
                    </span>

                    <strong>
                        2 MB
                    </strong>

                </div>

            </div>


        </div>


    </div>


    <!-- ========================================================
         Background Image - Deep
    ========================================================= -->

    <div
        class="background-image-container background-image-deep"
    >


        <!-- ====================================================
             HEADER
        ===================================================== -->

        <div
            class="background-image-header"
        >

            <div
                class="background-image-heading"
            >

                <div
                    class="background-image-icon"
                >

                    <i
                        class="fas fa-moon"
                    ></i>

                </div>


                <div
                    class="background-image-heading-content"
                >

                    <div
                        class="background-image-label"
                    >
                        Background Image
                    </div>


                    <div
                        class="background-image-title"
                    >
                        Deep Theme
                    </div>


                    <div
                        class="background-image-description"
                    >
                        Background image configured for the deep theme.
                    </div>

                </div>

            </div>

        </div>


        <!-- ====================================================
             IMAGE PREVIEW
        ===================================================== -->

        <div
            class="background-image-preview"
        >


            <!-- =================================================
                 EMPTY STATE
            ================================================== -->

            <div
                class="background-image-empty"
                *ngIf="!deepBackgroundImageUrl"
            >

                <div
                    class="background-image-empty-icon"
                >

                    <i
                        class="fas fa-image"
                    ></i>

                </div>


                <div
                    class="background-image-empty-title"
                >
                    No Deep Background Image
                </div>


                <div
                    class="background-image-empty-description"
                >
                    No background image has been configured for the deep theme.
                </div>

            </div>


            <!-- =================================================
                 IMAGE
            ================================================== -->

            <img
                *ngIf="deepBackgroundImageUrl"

                [src]="deepBackgroundImageUrl"

                alt="Background Image - Deep"

                class="background-image-preview-image"
            />


        </div>


        <!-- ====================================================
             INFORMATION
        ===================================================== -->

        <div
            class="background-image-information"
        >


            <!-- =================================================
                 RECOMMENDED SIZE
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-expand"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        Recommended Size
                    </span>

                    <strong>
                        2560 × 1440 px
                    </strong>

                </div>

            </div>


            <div
                class="background-image-information-divider"
            ></div>


            <!-- =================================================
                 ASPECT RATIO
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-crop"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        Aspect Ratio
                    </span>

                    <strong>
                        16:9
                    </strong>

                </div>

            </div>


            <div
                class="background-image-information-divider"
            ></div>


            <!-- =================================================
                 FILE FORMAT
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-file-image"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        File Format
                    </span>

                    <strong>
                        JPG, PNG
                    </strong>

                </div>

            </div>


            <div
                class="background-image-information-divider"
            ></div>


            <!-- =================================================
                 MAX FILE SIZE
            ================================================== -->

            <div
                class="background-image-information-item"
            >

                <i
                    class="fas fa-database"
                ></i>


                <div
                    class="background-image-information-content"
                >

                    <span>
                        Max File Size
                    </span>

                    <strong>
                        2 MB
                    </strong>

                </div>

            </div>


        </div>


    </div>


</div>