<!-- ===========================================================
     LOGIN PAGE PREVIEWER
============================================================ -->

<div
    class="login-page-previewer"
    [class.preview-closed]="!isOpen">


    <!-- =======================================================
         LOGIN PAGE HOST
    ======================================================== -->

    <div
        class="login-page-previewer-host">


        <!-- ===================================================
             LOGIN PAGE 1
        ==================================================== -->

        <app-login-page-1
            *ngIf="isLoginPage1">

        </app-login-page-1>



        <!-- ===================================================
             LOGIN PAGE 2
        ==================================================== -->

        <app-login-page-2
            *ngIf="isLoginPage2">

        </app-login-page-2>



        <!-- ===================================================
             LOGIN PAGE 3
        ==================================================== -->

        <app-login-page-3
            *ngIf="isLoginPage3">

        </app-login-page-3>



        <!-- ===================================================
             LOGIN PAGE 4
        ==================================================== -->

        <app-login-page-4
            *ngIf="isLoginPage4">

        </app-login-page-4>



        <!-- ===================================================
             PAGE NOT AVAILABLE
        ==================================================== -->

        <div
            *ngIf="
                !isLoginPage1
                &&
                !isLoginPage2
                &&
                !isLoginPage3
                &&
                !isLoginPage4
            "
            class="login-page-previewer-message">

            Login Page Preview is not available.

        </div>


    </div>


</div>