<!--===============================================================

    Activity Cart

===============================================================-->

<div class="list-table">

    <!--========================================================

        Header

    =========================================================-->

    <div class="list-table-header">

        <table class="list-table-grid">

            <thead>

                <tr>

                    <th
                        *ngFor="let column of columns"
                        [style.width]="column.width"
                        [class.left]="column.align === 'left'"
                        [class.center]="column.align === 'center'"
                        [class.right]="column.align === 'right'"
                        [class.permission-column]="column.headerCheckbox">

                        <ng-container
                            *ngIf="
                                column.headerCheckbox;
                                else normalHeader
                            ">

                            <div class="permission-header">

                                <div class="permission-header-content">

                                    <div class="permission-header-action">

                                        <app-checkbox
                                            color="success"
                                            [readOnly]="readOnly"
                                            [value]="headerCheckboxStates['all']"
                                            (valueChange)="
                                                onHeaderCheckboxChanged(
                                                    'all',
                                                    $event
                                                )
                                            ">
                                        </app-checkbox>

                                        <span class="permission-header-label">
                                            Select All
                                        </span>

                                    </div>

                                    <span class="permission-header-divider">|</span>

                                    <div class="permission-header-action">

                                        <app-checkbox
                                            color="success"
                                            [readOnly]="readOnly"
                                            [value]="headerCheckboxStates['view']"
                                            (valueChange)="
                                                onHeaderCheckboxChanged(
                                                    'view',
                                                    $event
                                                )
                                            ">
                                        </app-checkbox>

                                        <span class="permission-header-label">
                                            View All
                                        </span>

                                    </div>

                                    <span class="permission-header-divider">|</span>

                                    <div class="permission-header-action">

                                        <app-checkbox
                                            color="success"
                                            [readOnly]="readOnly"
                                            [value]="headerCheckboxStates['add']"
                                            (valueChange)="
                                                onHeaderCheckboxChanged(
                                                    'add',
                                                    $event
                                                )
                                            ">
                                        </app-checkbox>

                                        <span class="permission-header-label">
                                            Add All
                                        </span>

                                    </div>

                                    <span class="permission-header-divider">|</span>

                                    <div class="permission-header-action">

                                        <app-checkbox
                                            color="success"
                                            [readOnly]="readOnly"
                                            [value]="headerCheckboxStates['update']"
                                            (valueChange)="
                                                onHeaderCheckboxChanged(
                                                    'update',
                                                    $event
                                                )
                                            ">
                                        </app-checkbox>

                                        <span class="permission-header-label">
                                            Update All
                                        </span>

                                    </div>

                                    <span class="permission-header-divider">|</span>

                                    <div class="permission-header-action">

                                        <app-checkbox
                                            color="success"
                                            [readOnly]="readOnly"
                                            [value]="headerCheckboxStates['delete']"
                                            (valueChange)="
                                                onHeaderCheckboxChanged(
                                                    'delete',
                                                    $event
                                                )
                                            ">
                                        </app-checkbox>

                                        <span class="permission-header-label">
                                            Delete All
                                        </span>

                                    </div>

                                    <span class="permission-header-divider">|</span>

                                    <div class="permission-header-action">

                                        <app-checkbox
                                            color="success"
                                            [readOnly]="readOnly"
                                            [value]="headerCheckboxStates['restore']"
                                            (valueChange)="
                                                onHeaderCheckboxChanged(
                                                    'restore',
                                                    $event
                                                )
                                            ">
                                        </app-checkbox>

                                        <span class="permission-header-label">
                                            Restore All
                                        </span>

                                    </div>

                                </div>

                            </div>

                        </ng-container>

                        <ng-template #normalHeader>
                            {{ column.header }}
                        </ng-template>

                    </th>

                </tr>

            </thead>

        </table>

    </div>

    <!--========================================================
        Body
    =========================================================-->

    <div class="list-table-body">

        <div
            *ngIf="loading"
            class="list-table-state">
            Loading activity assignments...
        </div>

        <div
            *ngIf="
                !loading &&
                error
            "
            class="list-table-state">
            Unable to load activity assignments.
        </div>

        <div
            *ngIf="
                !loading &&
                !error &&
                orbitLoading
            "
            class="table-state">

            <app-orbit-loader
                title="Loading"
                message="Please wait while data is being loaded."
                size="medium"
                [overlay]="false">
            </app-orbit-loader>

        </div>

        <table
            *ngIf="
                !loading &&
                !error &&
                !orbitLoading &&
                rows.length > 0
            "
            class="list-table-grid">

            <tbody>

                <tr
                    *ngFor="
                        let row of rows;
                        let i = index;
                        trackBy: trackRow
                    "
                    class="list-table-row">

                    <td
                        *ngFor="let column of columns"
                        [style.width]="column.width"
                        [class.left]="column.align === 'left'"
                        [class.center]="column.align === 'center'"
                        [class.right]="column.align === 'right'">

                        <ng-container
                            *ngIf="
                                column.type === 'serial'
                            ">
                            {{ getSerial(i) }}
                        </ng-container>

                        <ng-container
                            *ngIf="
                                column.type === 'text'
                            ">
                            {{ getCellValue(row, column) }}
                        </ng-container>

                        <ng-container
                            *ngIf="
                                column.type === 'masterActivities'
                            ">

                            <app-activity-selector
                                [readOnly]="readOnly"
                                [(activities)]="row.masterActivities"
                                (changed)="onActivityChanged()">
                            </app-activity-selector>

                        </ng-container>

                        <ng-container
                            *ngIf="
                                column.type === 'action'
                            ">

                            <button
                                *ngIf="!readOnly"
                                type="button"
                                class="remove-button"
                                (click)="onRemove(row, $event)"
                                aria-label="Remove">
                                &times;
                            </button>

                        </ng-container>

                    </td>

                </tr>

            </tbody>

        </table>

        <div
            *ngIf="
                !loading &&
                !error &&
                !orbitLoading &&
                rows.length === 0
            "
            class="table-state">

            <app-empty-state
                icon="fas fa-table"
                title="No Activity Assignments"
                subtitle="There are no activity assignments to display.">
            </app-empty-state>

        </div>

    </div>

</div>