<!-- ===========================================================
     LOGIN PAGE BRANDING
============================================================ -->


<div
    class="login-page-branding"
    *ngIf="config.visible"
>


    <!-- =======================================================
         BRANDING CONTENT
    ======================================================== -->

    <div
        class="branding-content"
    >


        <!-- ===================================================
             BRAND LOGO
        ==================================================== -->

        <img
            class="branding-logo"
            [src]="config.logoUrl"
            [style]="logoStyle"
            alt="AppCore Technologies"
        />


    </div>


</div>